
<!doctype html>

<html lang="en" ng-app="blueCrawler">
<head>
    <meta charset="utf-8">

    <title>Blue Crawler</title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" type="text/javascript"></script>



</head>

<body>

<main role="main" class="container">
    {% block body %}{% endblock %}

</main>





<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>


