{% extends 'base.html.twig' %}
{% use "bootstrap_3_layout.html.twig" %}

{% block body %}

    <header class="header clearfix">


    </header>

        <div class="jumbotron vertical-center">

            <div class="spinner" id="spinner"></div>
            <div class="ajax-background" id="ajax-background"></div>
            <div class="row"> <h3 class="text-muted">Blue crawler</h3></div>
            <div class="row">
                <div class="center-block">

                        <div ng-controller="searchController">

                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" ng-click="search(value)" class="btn btn-lg btn-success">Search</button>


                            {{ form_end(form) }}
                            <div ng-bind-html="resultHtml"></div>

                        </div>

                </div>

            </div>

     </div>






{% endblock body %}

