
.form-group,.btn-lg{
    width: 400px !important;
}

.downloadLink{
    margin-top: 50px;
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

.spinner {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    z-index: 2;
    background: url(ajax-loader.gif);
    width: 32px;
    height: 32px;
    display: none;
}

.ajax-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 1;
    opacity: 0.4;
    top:0px;
    left: 0px;
    display: none;
}

.jumbotron{
    margin-top:100px;
    width: 50%;
}


